/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
            
.jumbotron {
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: inline-block;
	width: 100%;
}

#audioPlayer {
	width: 100%;
}

#search-form-container {
	height: 60px;
}

.float-left {
    float: left;
}

ol.results li a {
	font-size: 16px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

footer p {
	text-align: center;
}