<div class="col-sm-3">
  <h3>Dependencies</h2>
  <p><strong>Underscore JS</strong><br /><strong>jQuery</strong></p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-sm-3">
  <h3>Backbone JS</h2>
  <p><strong>Backbone Relational</strong><br /><strong>Backbone LocalStorage</strong></p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-sm-3">
  <h3>RequireJS</h2>
  <p><strong>text plugin</strong></p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>
<div class="col-sm-3">
  <h3>Twitter Bootstrap</h2>
  <p><strong>Front End Framework</strong></p>
  <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
</div>